<div class="container">
   <p>  {{title}} </p> <br/>
    {{arr.length}} <br/>
    {{2*3}} <br/>


    @if(car)
    {
       <p>car details are: {{car.name}} , {{car.power}} </p> 
    }
   <!-- @else if(car.power>80){ <p>Car is running in speed!</p>  } -->
    @else
    {
        <p>car details are not mentioned!</p>
    }

    @if(carx)
    {
       <p>car details are: {{carx.name}} , {{carx.power}} </p> 
    }
   <!-- @else if(car.power>80){ <p>Car is running in speed!</p>  } -->
    @else
    {
        <p>car details are not mentioned!</p>
    }

    @if(num==0){ <p>Zero</p> }
   @else if(num>0){ <p>Positive</p>  }
   @else if(num<0){ <p>Negative</p>  }
   @else{ <p>Not a number</p>  }

<div>
    @if(arr.length > 0)
    {
      <p>The no of items in the array {{arr.length}}</p>
    }
    <ol>
    @for(i of arr ; track $index)
    {
      <li> {{$index}} - {{i}}</li>
    }
    @empty {
        <p>Currently, there are no items added in an array/cart</p>
    }
    </ol>
</div>


    <hr/>
    <app-child></app-child>
    

</div>